.DS_Store
*.class
target/
build/
bin/
out/
.idea/
*.iml
.vscode/
*.log
*.hlog
*.hgrm
.env
.env.*
resultados/
prototipos/java/lib/
prototipos/go/braunrate-proto-go
prototipos/java/*.jar
medicoes/bruto/
